div[role=radiogroup] {
  padding: 32px 0px;
  display: grid;
  gap: 24px;
}

.mantine-Radio-body {
  display: flex;
  align-items: center;
  padding: 0px;
}

.mantine-Radio-inner {
  /* display: none; */
}

input:checked {
  border: 1px solid red;
}

.button-text {
  display: flex;
  align-items: center;
}

.active {
  background: #34d399;
}

.mantine-Radio-root {
    padding: 1rem;
    border: 1px solid gainsboro;
    border-radius: 8px;
}

.p-4{
  padding-right: 1rem;
}